.FileUploader{
    height: 150px;
    color: lightgray;
    text-align: center;
    overflow: auto;
}

.Files{
    margin-top: 2px;
    padding: 3px;
    text-align: center;
}
.FileImage{
    width: 99%;
    height: 95px;
}
.FullUpload{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.5)
}