.navbar li .glyphicon {
    margin-left: 10px;
}

/* Highlighting rules for nav menu items */
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
    background-image: none;
    background-color: #4189C7;
    color: white;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.NewButtons{
    float: right;
    margin-top: 7px;
    margin-right: 7px;
}

.Logo{
    position: fixed;
    color: white;
    text-align: center;
    left: 0px;
    right: 0px;
    top: 5px;
}
@media (max-width: 768px) {
    .navbar li {
        padding-top: 2px;
     }
    .navbar li a {
        float: none;
        margin: 2px auto;
        width: 98%;
        border: 1px solid #4189C7;
        border-radius: 3px;
    }
    .NewButtons{
        float: none;
        margin: auto;
        margin-bottom: 5px;
        width: 100%;
    }
}

@media (min-width: 768px) {

    .navbar .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0;
    }

    .navbar .container-fluid {
        padding: 0;
        margin: 0;
    }

        .navbar .container-fluid .navbar-brand {
            margin: 0;
        }

    .navbar ul {
        float: left;
    }

    .navbar li {
        float: left;
        font-size: 15px;
        margin: 6px;
    }

        .navbar li a {
            padding: 10px 16px;
            border-radius: 4px;
        }

}
