.InventoryItem {
    margin-top: 5px;
    color: black;
    cursor: pointer;
}

.AvailableItem {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px solid rgb(40, 167, 69);
    border-radius: 5px;
}

.NotAvailableItem {
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.AvailableItem:hover {
    box-shadow: 0 0 4px rgba(40, 167, 69, 0.4), 0 0 8px 0 rgba(40, 167, 69, 0.3);
}

.NotAvailableItem:hover {
    box-shadow: 0 0px 4px 0 rgba(10, 10, 10, 0.4), 0 0px 8px 0 rgba(15, 15, 15, 0.3);
}

.InventoryImgStyle {
    width: 48%;
    float: left;
    height: 90px;
}

.InventoryDetailes {
    width: 50%;
    float: right;
}

.OverFlowwText {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}